@charset "ISO-8859-1";
.box{

  background-color:#FFA500;
  height: 550px;
  width: 1050px;
  margin-left: 5cm;
  border-radius: 16px;

}

.box1{

  background-color:	#FFE4E1;
  height: 90px;
  width: 330px;
  margin-left: 2cm;
  border-radius: 12px;
  margin: 50px 30px 0px 50px;
  float: left;

}

.box3{

  background-color:#A9A9A9;
  height: 60px;
  width: 110px;
  border-radius: 12px;
  margin: 10px 10px 0px 10px;
}


.buy{

	color: #2da1c1;
 	font-size: small;
  	text-decoration: none;
  	 left: 252px;
  	float: right;

}

.delete{

	color: #2da1c1;
 	font-size: small;
  	text-decoration: none;
  	 left: 252px;
  	float: right;

}

.btn {
  background-color:darkgrey;
  color: black;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 4.5cm;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  margin-left: 15cm;
}
