@charset "ISO-8859-1";
.box{

   background-color:#FFA500;
  height: 200px;
  width: 270px;
  border-radius: 12px;
  margin: 10px 10px 0px 10px;
  margin-left: 15cm;
  text-align: center;
  

}

button{
  background-color:#A9A9A9; 
  border-radius: 10px;
  width: 60px;
  height: 35px;

}