*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


html,body{
    display: grid;
    height: 100%;
    width: 100%;
    background:  #f1f1f1;
}

.move{
    display: grid;
    height: 100%;
    width: 100%;
    place-items:center;
    background:  #ebeae9;    
}

.wrapper{
    max-width: 600px;
    background: #fff;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);


}

.wrapper .title-text{
    display: flex;
    width: 200%;  
}

.wrapper .title-text .title{
    width: 50%;
    font-size: 25px;
    font-weight: 600;
    text-align: center;

}


.wrapper.Form-container{
    width: 100%;

}

.form-container .form-inner form{

}
.form-container .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}


.form-inner form .field input{
    height: 50px;
    width: 500px;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px ;
    transition: all 0.4s ease;
}

.form-inner form .field input:focus{
    border-color: #e22807;
}

.form-inner form .pass-link{
    margin-top: 20px;
    
}

.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #200ccf;
    text-decoration: none;
}

.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}

form .field input[type="submit"]{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border: none;
    cursor: pointer;
    background: #e22807

}





