.card-holder{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    overflow-y: scroll;
}

.card {
    /* Add shadows to create the "card" effect */
    display: flex;
    position: relative;
    margin: 20px;
    width: 350px;
    height: 100px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.img-holder{
    width: 80px;
    height: 100px;
}

.card-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-holder{
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.details-holder h4{
    color: #FF7A00;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

#close-btn{
    position: absolute;
    right: 5px;
    top: 5px;
}

.modal-container{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}

.modal-view{
    background-color: #FFD2A1;
    width: 50%;
    height: 50%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.card-holder > a{
    position: absolute;
    right: 10px;
    bottom: 10px;
    /*width: 100%;*/
    /*height: 100%;*/
}