body{
    background-color: #FFE484;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-container{
    display: flex;
    flex-flow: column;
    width: 50%;
    height: auto;
    justify-content: center;
    text-align: center;
}

form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    width: 100%;
    background-color: #FFB96D;
    padding: 30px;
    border-radius: 20px;
    color: white;
}

textarea{
    resize: none;
    /*max-height: 100px;
    min-height: 100px;*/
}

button{
    display: block;
    width: 40%;
    height: 50px;
    border: 3px solid rgba(255,122,0,0.5);
    border-radius: 10px;
    margin-left: 335px;
    color: white;
    cursor: pointer;
    background-color: #FFA543;
    transition: background-color 0.5s ease-in;
}

button:hover{
    background-color: #FF7A00;
}

input, textarea, select{
    padding-left: 5px;
    border-radius: 5px;
    width: 80%;
    outline: none;
    border: 1px solid #ddd;
}

input:focus, textarea:focus, select:focus{
    box-shadow: 0 0 4px coral;
    border: 1px solid #FF7A00;
}

input[type=file]{
    border: 0;
    width: fit-content;
    float: left;
    margin-top: 5px;
    margin-left: 65px;
    margin-bottom: 10px;
}

#prof-pic{
    width: 100px;
    height: 100px;
    background: #cccccc;
    overflow: hidden;
    border-radius: 50%;
}

#form-container form a{
    margin-top: 5px;
    text-decoration: none;
    color: rgba(57,57,57,0.73);
    font-size: 0.7em;
}

#prof-pic img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#check{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: -272px;
    margin-bottom: 15px;
}

#isFree{
    margin-left: 10px;
}

#check input{
    width: auto;
}

#fee-box{
    display: none;
}

#settings{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label{
    font-size: 1em;
    margin-bottom: 2px;
}

#prof-name{
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: 25px;
}

#prof-pic-upload{
    margin-top: 5px;
    text-decoration: none;
    color: rgba(57,57,57,0.73);
    font-size: 0.7em;
}