body{
    background:#FFD2A1;
}

.prof-container{
    margin: auto;
    display: grid;
    width: 80%;
    height: 100%;
    grid-template-columns: 2fr 4fr;
}

#side-bar{
    display: grid;
    grid-template-rows: 2fr 5fr;
}

#prof{
    background: #FFA543;
}

#links{
    background: #FFB96D;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#side-bar-links{
    margin: 30px;
    display: flex;
    flex-flow: column;
}

#side-bar-links a{
    color: white;
    transition: color 0.5s ease;
}

#side-bar-links a:hover{
    color: #FF4D00;
}

#profile{
    display: flex;
    flex-flow: row;
    padding-top: 60px;
    padding-left: 70px;
}

#buttons{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.btn-prof{
    display: block;
    background-color: #FF7A00;
    width: 50%;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 4px;
    color: #f7f9f9;
    text-align: center;
    transition: background-color 0.5s ease;
}

.btn-prof:hover{
    background-color: #FF4D00;
}

.btn-prof a{
    text-decoration: none;
    color: white;
}

#prof-pic{
    width: 100px;
    height: 100px;
    background: #cccccc;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(57,57,57,0.76);
    border-radius: 50%;
    transition: box-shadow 0.7s ease;
}

#prof-pic:hover{
    box-shadow: 0 2px 8px #FF7A00;
}

#prof-pic img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#name{
    height: 44px;
    margin-top: 30px;
    margin-left: 20px;
}

#gallery{
    background: #FFE484;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px 50px;
}

#admin-gallery{
    background: #FFE484;
    padding: 30px 50px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 30px;
}

#display-list{
    position: relative;
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px 20px;
}

.prof-tab a{
    margin: 10px 0;
    float: right;
    text-align: right;
    color: #FF7A00;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s ease;
}

.prof-tab a:hover{
    color: chocolate;
}

.place-holder{
    display: flex;
    flex-flow: column;
    padding: 15px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.place-holder h3{
    color: #FF7A00;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.place-holder p{
    margin-top: 10px;
    font-size: 13px;
    width: 100%;
    border-bottom: #cccccc;
}

#display-list h4{
    position: absolute;
    top: -10px;
    left: 10px;
}

/*-------------------Messages & Requests------------------------------*/

#msgs-reqs-container{
    margin: auto;
    display: grid;
    width: 80%;
    height: fit-content;
    grid-template-columns: 2fr 4fr;
}

#messages-box{
    display: grid;
    background: white;
    border-radius: 5px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 25px;
    grid-auto-rows: 70px;
    max-height: 310px;
    min-height: 320px;
    grid-gap: 2px;
    overflow-y: scroll;
    padding: 5px;
}

#requests-box{
    display: grid;
    background: white;
    border-radius: 5px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 25px;
    grid-auto-rows: 70px;
    max-height: 310px;
    min-height: 310px;
    grid-gap: 2px;
    overflow-y: scroll;
    padding: 5px;
}

.msg ,.req{
    background-color: rgba(255,185,109,0.4);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

.msg{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.msg > *{
    font-size: 14px;
}

.req{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.req > *{
    font-size: 14px;
}

.req-prof{
    width: 10%;
    height: 80%;
    border-radius: 50px;
    overflow: hidden;
}

.req-prof img{
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.req-details{
    width: 87%;
    margin-left: 5px;
}

.more{
    float: right;
    width: 3%;
    text-align: center;
    font-size: 13px;
}

#messages-box caption,#requests-box caption{
    position: fixed;
    padding-bottom: 0;
    margin-bottom: 5px;
}

/*---------------------------All Users---------------------------*/

#user-gallery{
    background: #FFE484;
    padding: 30px 50px;
    height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}

#users-container{
    margin: auto;
    display: grid;
    width: 80%;
    height: 100%;
    grid-template-columns: 2fr 4fr;
}