mini-nav{
    display: block;
    height: 100%;
    width: 250px;
    min-width: 200px;
    background: #FFA543;
    margin-right: 15px;
}

#advancedSearch,#sort{
    text-align: center;
}

#advancedSearch > h4,#sort > h4{
    display: block;
    height: 30px;
    line-height: 30px;
    background-color: #FF4D00;
    color: white;
}

#sort-by > select{
    margin: 20px 0;
    height: 30px;
    border: 1px solid #cccccc;
    width: 60%;
}

#advancedSearch > div{
    display: flex;
    flex-flow: column;
    text-align: center;
    height: fit-content;
    width: 100%;
    padding: 20px 10px;
    color: white;
}

#advancedSearch > div > label{
    margin: 10px;
}

#advancedSearch > div > input,#advancedSearch > div > select{
    height: 30px;
    border: 1px solid #cccccc;
}

#advancedSearch > div > input{
    padding: 10px;
}

#price-range{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#price-range > select{
    width: 40%;
    height: 30px;
    border: 1px solid #cccccc;
}

#price-range > span{
    margin: 5px;

}

#mini-nav{
    display: flex;
    flex-flow: column;
    text-align: center;
}

#mini-nav #prof-info label{
    margin-bottom: 20px;
}

#mini-nav>li{
    display: block;
    border-right: 6px solid transparent;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: white;
    line-height: 60px;
    transition: background-color 0.5s ease,color 0.5s ease;
}

#mini-nav li:hover{
    background: #FF7A00;
    border-right: 6px solid #FFC700;
    color: #FFE2AB;
}

#mini-nav ul{
    display: flex;
    flex-flow: column;
    display: none;
}

#mini-nav .cat-show.show {
    display: block;
}

#mini-nav ul li{
    line-height: 42px;
    font-size: 13px;
    border-right: none;
    border-bottom: none;
    transition: background-color 0.5s ease;
}

#mini-nav ul li:hover{
    background-color: #FFA543;
}

#mini-nav ul li a{
    font-size: 12px;
    color: #fff;
    padding-left: 10px;
}

#mini-nav li a span{
    margin-left: 20px;
    transform: translateY(-50%);
}

#mini-nav li a span:hover{
    transform: translateY(-50%) rotate(-180deg);
}

#prof-info{
    display: block;
    text-align: center;
}

#prof-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid #FF7A00;
    margin: 20px;
    margin-top: 30px;
    object-fit: cover;
}

#prof-info h3,h4{
    color: white;
}

#prof-info h4{
    margin-bottom: 10px;
}

#rating{
    margin: 20px;
}

.slider-container {
    height: 100px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    color: white;
    text-align: center;
}

.slider-container label{
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    width: 65%;
    height: 30px;
    border-radius: 10px;
    background-color: #FF7A00;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #fff;
    box-shadow: 0 1px 5px rgba(255,0,0,0.1);
    transition: all 0.3s ease;
}

.search:hover{
    box-shadow: 0 1px 5px rgba(255,0,0,0.6);
    background-color: tomato;
}