*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;

}

body{
    background-color: #FFE484;
    background-image: url("../img/reg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.move2{
    display: grid;
    height: 100%;
    width: 100%;
 
}
.move2 ul{
    margin-top: 450px;    
}
.move2 li {
    margin-bottom: 20px;
    font-size: 30px;
    list-style: none;
    height: 40px;
    text-align:center;   
}

a.designer_acc{
 
    background-color: #FF7A00;
    color: white;
    padding: 15px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
}
a.buyer_acc{
    background-color: #FF7A00;
    color: white;
    padding: 15px 70px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
}

