@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: var(--quicksand),sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/*Variables*/
:root{
    --primary-gradient:linear-gradient(to right,#FFC700,#FF7A00,#FFC700);
    --main-yellow:#FFD335;
    --main-orange:#FF7A00;
    --text-color:#f7f9f9;
    --primary-shadow:3px 4px 7px rgba(27,27,27,0.534);
    --border-color:rgba(0,0,0,0.329);
    --quicksand:"Quicksand";
}

body{
    background-color: white;
}

.center {
    text-align: center;
    display: flex;
    flex-flow: column;
    position: center;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.center h1{
    margin-bottom: 20px;
    color: var(--main-orange);
    transition: color 1s ease;
}

.center h1:hover{
    margin-bottom: 20px;
    color: #ffd500;
}

.container{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-flow: row;
    flex-shrink: 1;
    justify-content: space-around;
    margin: 0px auto;
    width: 1300px;
}

nav{
    width:100%;
    height:40px;
    background-color:#FF7A00;
}

ul{

}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 40px;
}

ul li a{
    display: block;
    color: #fff;
    padding: 0 20px;
    transition: color 0.5s ease-in;
}

ul li a:hover{
    color: #FFD335;
}

.header{
    display: flex;
    background: var(--primary-gradient);
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.box-1{
    flex: 1;
}

.box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.box-2 img{
    width: 30%;
    min-width: 30%;
}

.box-3{
    flex: 1;
    padding-right: 50px;
    padding-top: 16px;
    text-align: right;
    display: flex;
    /*flex-flow: column;*/
    justify-content: flex-end;
}

.box-3 h4{
    font-weight: bold;
    color: white;
}

.box-3 a{
    display: block;
    width: fit-content;
    color: white;
    transition: color 0.5s ease;
}

.box-3 a:hover{
    color: var(--main-orange);
}

.box-3 .prof-info{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    order: 1;

}

.box-3 #navbar-prof{
    order: 2;
    margin-left: 10px;
    margin-top: 2px;
    width: 60px;
    height: 60px;
    border: 2px solid #FFA543;
    border-radius: 50px;
    object-fit: cover;
    transition: width 0.5s ease,height 0.5s ease;
}

.box-3 #navbar-prof:hover{
    order: 2;
    margin-left: 10px;
    margin-top: 2px;
    width: 70px;
    height: 70px;
    border: 2px solid #FFA543;
    border-radius: 50px;
    object-fit: cover;
}

/*.logo{
    background-image: url("../img/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 680px;
    bottom: 25px;
    display: block;
    width: 150px;
    height: 150px;
}*/


nav input[type=text]{
    display: flex;
    height:25px;
    background-color: white;
    background-image: url("../img/search.png");
    background-size:20px 20px;
    background-repeat: no-repeat;
    background-position: 10px 3px;
    width:20%;
    border: none;
    border-radius: 10px;
    padding-left: 35px;
    margin-top: 7px;
}

.cover-image {
    width: 100%;
    height: 200px;
    background-image: url("../img/img1.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.title-bar{
    display: block;
    width: 100%;
    height: 25px;
    background-color: #FFB96D;
    overflow: hidden;
    text-align: center;
}

.title-bar h1 a{
    font-size: 13px;
    line-height: 25px;
    color: #ffffff;
    transition: font-size 1s ease;
}

.title-bar h1 a:hover{
    font-size: 14px;
}

.showcase{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 150px;
    justify-content: space-around;
}

.item-box{
    position: relative;
    width: 230px;
    height:100px;
    /*background-color: grey;*/
    border-radius: 15px;
    margin: 15px 0px 0px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: width 0.5s ease,height 0.5s ease;
}

.item-img{
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.img-overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.img-overlay:hover{
    opacity: 1;
}

/*Target Every Direct Child of the Overlay*/
.img-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img-overlay:hover > *{
    transform: translateY(0);
}


.img-name{
    color: #FF7A00;
}

.img-desc{
    font-size: 0.75em;
    margin-top: 0.25em;
}

.item-box:hover{
    width: 235px;
    height:105px;
}

.footer{
    display: block;
    width: 100%;
    height: 100px;
    background: var(--primary-gradient);
}

.footer .social-media{
    padding-left: 700px;
}

.footer .social-media a{
    margin: 35px 15px;
    display: inline-block;
    color: yellow;
    transition: color 1s ease;
}

.social-media a:hover{
    color: #ffd500;
}

.btn-primary{
    margin: 10px;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
    border-color: grey;
    background: none;
    cursor: pointer;
    color: var(--main-orange);
    transition: background 0.5s ease;
    transition: color 0.8s ease;
}















































