# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\00 IDE Projects\IntelliJ\ProjectAruma\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
